.footer{
    background-color: #e3f3ff;
    margin-top: 50px;
}
.footer .container .footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer img{
    width: 100px;
    margin-top: 20px;
}
.footer .container .footer-content .social-media svg{
    font-size: 30px;
    margin-left: 15px;
    color: rgb(155, 155, 155);
    margin-top: 20px;
}
.footer .container .footer-content .social-media svg:nth-child(1):hover{
    color: #333;
}
.footer .container .footer-content .social-media svg:nth-child(2):hover{
    color: #1DA1F2;
}
.footer .container .footer-content .social-media svg:nth-child(3):hover{
    color: #4267B2;
}
.footer .container .footer-content .social-media svg:nth-child(4):hover{
    color: #ff0000;
}
.footer .container .footer-content .text{
    color: rgb(109, 109, 109);
    margin-top: 20px;
    padding: 15px ;
    font-family: "Hind", sans-serif;
    font-size: 16px;
    font-weight: 700;
}
 
@media (max-width : 768px ) {
    .footer .footer-content {
        display : flex ;
        flex-direction: column;
        padding: 10px;
        margin : auto   
    }
    .footer .container .footer-content .text {
        font-size: 13px;
    }
} 