
.cards {
  box-sizing: border-box;
  margin-top: 20px ;
  margin : 0 ;
  padding : 5px ;

}

.cards .cards-content {
    display : grid ;
    grid-template-columns: repeat(3, 1fr);
    padding : 15px 200px ;
    width : 60%;
    margin: auto;
    
}
.cards-content .card {
    display : inline-flex ;
     border-radius: 10px;
    transition: 0.3s;
    width: 80%;
    margin: auto;
    padding : 5px ;
    border: dashed 1px #c0c0c0;
  }

  .card .container  {
   display : flex ; 
   flex-direction: row;
   justify-content: space-between;

  }
  .container .img-container {
    margin-top: 2em;
    padding : 20px ;
    width : 40% ;
  }
  .container .img-container img {
    width: 85% ;
  }
  .txt-container {
    display : flex ;
    flex-direction: column;
  }
  .txt-container h2 {
    padding : 0 ;
    margin-bottom: 5px;
    text-align: center;
    
  }
  .txt-container p {
    margin-top: 0;
    text-align: center;
  }
 .cards-content .card:hover {
   background-color: #EFF5FB;
   border : none ;
   transition: 0.4s ease-in-out;
 }
  @media (max-width : 768px) {
    .cards .cards-content {
        display: grid;
        padding : 10px ;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .cards .cards-content .card {
      display : flex;
      flex-direction: column;
      margin-bottom: 10px ;
      padding: 10px ;
    }
    .container {
     display : flex;
     flex-wrap: wrap;
     
    }
    .cards .cards-content .card .container .img-container {
     width : 50% ;
     margin-left: auto;
     margin-top : 5px ;
    }
    .container h2 {
      text-align: center;
      padding : 0 ;
      margin: 0 ;
    }
    .container p {
      font-size: 14px;
    }
   
    .cards .cards-content .card .container .img-container img {
      width : 45%;
     
    }
  
  }